<header
  class="sticky top-0 flex h-[var(--header-height)] flex-shrink-0 flex-grow basis-0 items-center justify-between border-b border-manganese-black pl-8 text-[1.625rem]"
>
  <div class="flex h-full items-center gap-6">
    <div class="flex h-full flex-col items-center justify-center pr-6">
      <p>// Tuan Tran</p>
      <p>fullstack_dev</p>
    </div>
    <div class="navigation flex h-full items-center">
      <a
        class="flex h-full items-center justify-center border-l border-manganese-black px-6 last:border-r"
        *ngFor="let navigation of navigations; index as i"
        [routerLink]="[navigation.link]"
        routerLinkActive="router-link-active"
      >
        {{ navigation.label }}
      </a>
    </div>
  </div>
  <a class="flex h-full items-center justify-center border-l border-manganese-black px-6">
    <p>_contact</p>
  </a>
</header>
