<header
  [ngClass]="(layoutService.isMobile$ | async) ? 'w-[100vw]' : 'w-[calc(100%-var(--sidebar-width))]'"
  class="fixed top-0 z-10 flex h-[var(--header-height)] items-center justify-between border-b border-[rgba(34,49,79,0.10)] text-2xl font-normal backdrop-blur-[0.125rem] transition-colors duration-[1500ms] dark:border-manganese-black dark:bg-[rgba(24,24,29,0.6)]"
>
  <div class="flex h-full cursor-default flex-col items-center justify-center px-6 leading-none">
    <p>// Tuan Tran</p>
    @if ((layoutService.isMobile$ | async) === false) {
      <p class="text-green-haze dark:text-screen-glow">fullstack_dev</p>
    }
  </div>
  @if ((layoutService.isMobile$ | async) === false) {
    <nav class="navigation flex h-full grow justify-between">
      <div class="flex items-center">
        @for (nav of mainNav.slice(0, -1); track nav.id) {
          <a
            class="flex h-full items-center justify-center border-l border-[rgba(34,49,79,0.10)] px-6 last:border-r dark:border-manganese-black"
            [routerLink]="[nav.routerLink]"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="router-link-active"
          >
            {{ nav.label }}
          </a>
        }
      </div>
      <a
        class="flex items-center justify-center border-l border-[rgba(34,49,79,0.10)] px-6 dark:border-manganese-black"
        [routerLink]="[contactNav.routerLink]"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
      >
        {{ contactNav.label }}
      </a>
    </nav>
  } @else {
    <div class="control-btn flex">
      <!-- <app-darkmode-button></app-darkmode-button> -->
      <button
        type="button"
        title="Menu"
        class="relative inline-flex items-center p-4.5"
        (click)="toggleMenu(); menu.toggle($event)"
      >
        <svg-icon
          [applyClass]="true"
          viewBox="auto"
          src="assets/icons/svg/menu.svg"
          [ngClass]="!isMenuShow ? 'rotate-0 scale-100' : 'rotate-90 scale-0'"
          class="h-6 w-6 stroke-lavender-mauve transition-all duration-300 dark:stroke-pastel-placebo"
        >
        </svg-icon>
        <svg-icon
          [applyClass]="true"
          viewBox="auto"
          src="assets/icons/svg/close.svg"
          [ngClass]="!isMenuShow ? '-rotate-90 scale-0' : 'rotate-0 scale-100'"
          class="absolute h-6 w-6 stroke-lavender-mauve transition-all duration-300 dark:stroke-pastel-placebo"
        >
        </svg-icon>
      </button>
    </div>
  }
</header>
<p-menu
  #menu
  [model]="navigations"
  [popup]="true"
  [styleClass]="
    '!bg-dark-knight/80 !backdrop-blur-lg ' +
    ((layoutService.screenSizeChanged$ | async)?.includes('Handset')
      ? 'w-full h-[calc(100dvh-var(--header-height))]'
      : '')
  "
  (onHide)="isMenuShow = false"
></p-menu>
