<div class="flex flex-col items-start gap-8 lg:pb-8">
  <div class="flex w-full animate-[fadeinleft_0.5s_ease-in] flex-col items-start gap-7">
    <span class="above-typing-header_text">// Programming languages I have learned</span>
    <div class="typing-header">
      <p>{{ '{“' }}&nbsp;</p>
      <p class="typing-header__text type-skills"></p>
      <p>&nbsp;{{ '“}' }}</p>
    </div>
  </div>
  <div class="flex w-full flex-col items-start gap-11 lg:gap-20">
    @for (skill of skills; track $index) {
      <div class="frontend-items item-start flex w-full flex-col gap-8">
        <span class="text-lavender-mauve">// {{ skill.skillName }}</span>
        <div
          [ngClass]="layoutService.isMobile() ? 'flex-col' : 'flex-wrap'"
          class="flex content-start items-start gap-3.5 lg:gap-[3.75rem]"
        >
          @for (skillItem of skill.skillItems; track skillItem.id) {
            <app-tech-card
              [ngClass]="layoutService.isMobile() ? 'w-full' : ''"
              [item]="skillItem"
              [styleClass]="'animate-[zoomin_0.5s_ease-in] ' + (layoutService.isMobile() ? 'w-full' : 'h-72 w-72')"
            ></app-tech-card>
          }
        </div>
      </div>
    }
  </div>
</div>
