<div class="flex flex-col items-start gap-8 text-[2rem] font-normal leading-none">
  <div class="flex flex-col gap-7">
    <div class="inline-flex animate-[fadeinleft_0.5s_ease-in] flex-nowrap text-[6.5rem] font-normal leading-[7.5rem]">
      <p>{{ '{“' }}&nbsp;</p>
      <p class="text-green-haze type-resume dark:text-screen-glow"></p>
      <p>&nbsp;{{ '“}' }}</p>
    </div>
    <a
      href="/assets/files/Tran_Minh_Tuan-CV.pdf"
      download="Tran_Minh_Tuan-CV.pdf"
      class="border-green-haze text-green-haze inline-flex w-fit animate-bounce items-center justify-center gap-3 rounded-lg border px-7 py-4 shadow-xs hover:bg-gray-50 dark:border-screen-glow dark:text-screen-glow dark:hover:bg-lavender-mauve/10"
    >
      <svg-icon
        [applyClass]="true"
        viewBox="auto"
        [src]="'assets/icons/svg/download-02.svg'"
        class="stroke-green-haze h-6 w-6 fill-lavender-mauve stroke-2 dark:fill-pastel-placebo dark:stroke-screen-glow"
      >
      </svg-icon>
      Download my CV
    </a>
  </div>
  <div class="flex flex-1 animate-[fadeinleft_0.5s_ease-in] gap-14">
    <div class="flex flex-col gap-5">
      <span class="text-lavender-mauve">//experience</span>
      <div class="flex flex-col gap-12">
        <div class="flex flex-col gap-4">
          <p class="text-green-haze dark:text-screen-glow">_2000-2023</p>
          <p>I am able to handle multiple tasks on a daily basis.</p>
        </div>
        <div class="flex flex-col gap-4">
          <p class="text-green-haze dark:text-screen-glow">_2000-2023</p>
          <p>I am able to handle multiple tasks on a daily basis.</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-5">
      <span class="text-lavender-mauve">//education</span>
      <div class="flex flex-col gap-12">
        <div class="flex flex-col gap-4">
          <p class="text-green-haze dark:text-screen-glow">_2000-2023</p>
          <p>I am able to handle multiple tasks on a daily basis.</p>
        </div>
        <div class="flex flex-col gap-4">
          <p class="text-green-haze dark:text-screen-glow">_2000-2023</p>
          <p>I am able to handle multiple tasks on a daily basis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
