<div class="flex flex-col items-start gap-8 text-[2rem] font-normal leading-none">
  <div class="flex flex-col items-start gap-7">
    <span>//If you have any questions, please don't hesitate to contact me</span>
    <div class="inline-flex flex-nowrap text-[6.5rem] font-normal leading-[7.5rem]">
      <p>{{ '{“' }}&nbsp;</p>
      <p class="text-purple-600 type-contact dark:text-screen-glow"></p>
      <p>&nbsp;{{ '“}' }}</p>
    </div>
  </div>
  <div class="flex flex-col items-start gap-8">
    <div class="flex flex-col gap-2">
      <p class="text-lavender-mauve">//my number</p>
      <p class="text-anakiwa">
        const <span class="text-screen-glow">telephoneNum</span> =
        <span class="text-lavender-rose">(+84) 934013988</span>;
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-lavender-mauve">//my e-mail</p>
      <p class="text-anakiwa">
        const <span class="text-screen-glow">email</span> =
        <span class="text-lavender-rose">minhtuan92vt@gmail.com</span>;
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-lavender-mauve">//my skype</p>
      <p class="text-anakiwa">
        const <span class="text-screen-glow">skype</span> = <span class="text-lavender-rose">tranminhtuan92</span>;
      </p>
    </div>
  </div>
</div>
