<div class="flex flex-col items-start gap-8 overflow-y-auto overflow-x-hidden text-[2rem] font-normal leading-none">
  <div class="inline-flex animate-[fadeinleft_0.5s_ease-in] flex-nowrap text-[6.5rem] font-normal leading-[7.5rem]">
    <p>{{ '{“' }}&nbsp;</p>
    <p class="text-green-haze type-about dark:text-screen-glow"></p>
    <p>&nbsp;{{ '“}' }}</p>
  </div>
  <div class="flex flex-1 gap-14">
    <div class="flex animate-[fadeinleft_0.5s_ease-in] flex-col gap-12">
      <div class="flex flex-col gap-5">
        <span class="text-lavender-mauve">//who I am</span>
        <p>
          I'm Tuan Tran a full stack developer based in Sai Gon, Viet Nam,
          <img src="assets/images/png/vietnam.png" alt="flag" class="inline-block h-8 w-8" />.
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <span class="text-lavender-mauve">//what I do</span>
        <p>
          I have 6+ years of experience in web development, with a strong background in both front-end and back-end
          technologies.
        </p>
        <p>
          I am passionate about (Web development using ReactJS, NextJS) and (Mobile app development using Flutter, React
          native).
        </p>
        <p>
          Learning new things always excites me and I am constantly seeking new challenges to expand my knowledge and
          skills technologies.
        </p>
      </div>
    </div>
    <div class="flex animate-[fadeinright_0.5s_ease-in] flex-col gap-5">
      <div class="flex flex-col text-lavender-mauve">//what drives my work</div>
      <div class="flex flex-col gap-16">
        <div class="flex gap-5">
          <div class="flex flex-col gap-4">
            <p class="text-screen-glow">_able</p>
            <p>I am able to handle multiple tasks on a daily basis.</p>
          </div>
          <div class="flex flex-col gap-4">
            <p class="text-screen-glow">_innovative</p>
            <p>I am able to handle multiple tasks on a daily basis.</p>
          </div>
        </div>
        <div class="flex gap-5">
          <div class="flex flex-col gap-4">
            <p class="text-screen-glow">_team work</p>
            <p>I am able to handle multiple tasks on a daily basis.</p>
          </div>
          <div class="flex flex-col gap-4">
            <p class="text-screen-glow">_flexible</p>
            <p>I am able to handle multiple tasks on a daily basis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
