<div class="flex h-full flex-col justify-between">
  <div class="flex animate-[fadeinleft_0.5s_ease-in] flex-col items-start gap-7">
    <p class="text-[2rem] font-normal leading-none">//Hi, I'm Tuan Tran, a...</p>
    <div class="inline-flex flex-nowrap text-[6.5rem] font-normal leading-[7.5rem]">
      <p>{{ '{“' }}&nbsp;</p>
      <p class="text-green-haze type-jobs dark:text-screen-glow"></p>
      <p>&nbsp;{{ '“}' }}</p>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <div class="w-[70%] animate-[zoomin_0.5s_ease-in] text-[2rem] font-normal leading-none text-[#A9A9A9]">
      I am passionate about (Web development using ReactJS, NextJS) and (Mobile app development using Flutter, React
      native).
      <br />
      <br />
      Learning new things always excites me and I am constantly seeking new challenges to expand my knowledge and
      skills.
    </div>
    <img
      class="min-h-[26.25rem] w-[22rem] animate-[zoomin_0.5s_ease-in-out] rounded-3xl"
      [hidden]="isMyImageLoading"
      src="./assets/images/my-image.jpg"
      alt="My Image"
      (load)="isMyImageLoading = false"
    />
    @if (isMyImageLoading) {
      <p-skeleton
        styleClass="bg-gray-300 dark:bg-mirage animate-[fadeinright_0.2s_linear] min-h-[26.25rem]"
        width="22rem"
        borderRadius="1.5rem"
      ></p-skeleton>
    }
  </div>
</div>
