<div class="flex h-full flex-col gap-[3.75rem] px-[9.375rem] py-40">
  <div class="inline-flex flex-col items-start gap-7">
    <p class="text-[2rem] font-normal leading-none">//Hi, I'm Tuan Tran, a...</p>
    <p class="text-[7.5rem] font-normal leading-[8.75rem] text-screen-glow">{{ '{“ _full stack developer “}' }}</p>
  </div>
  <div class="flex items-center justify-between">
    <div class="w-[36.4rem] text-[2rem] font-normal leading-none text-[#A9A9A9]">
      I am passionate about (Web development using ReactJS, NextJS) and (Mobile app development using Flutter, React
      native). Learning new things always excites me and I am constantly seeking new challenges to expand my knowledge
      and skills.
    </div>
    <img class="h-[27.5rem] w-[45.75rem] rounded-3xl" src="./assets/images/my-image.jpg" alt="My Image" />
  </div>
</div>
