<div class="flex h-full flex-col justify-between gap-11 lg:gap-8">
  <div class="flex animate-[fadeinleft_0.5s_ease-in] flex-col items-start gap-4 lg:gap-7">
    <p class="above-typing-header_text">//Hi, I'm Tuan Tran, a...</p>
    <div class="typing-header">
      <p>{{ '{“' }}&nbsp;</p>
      <p class="text-green-haze type-jobs dark:text-screen-glow"></p>
      <p>&nbsp;{{ '“}' }}</p>
    </div>
  </div>
  <div
    [ngClass]="(layoutService.isMobile$ | async) ? 'flex-col gap-11' : 'flex-row gap-6'"
    class="flex items-center justify-between"
  >
    <div
      [ngClass]="(layoutService.isMobile$ | async) ? 'w-full' : 'w-[70%]'"
      class="animate-[zoomin_0.5s_ease-in] text-xl/6 font-normal text-[#A9A9A9] lg:text-[2rem] lg:leading-none"
    >
      I am passionate about (Web development using ReactJS, NextJS) and (Mobile app development using Flutter, React
      native).
      <br />
      <br />
      Learning new things always excites me and I am constantly seeking new challenges to expand my knowledge and
      skills.
    </div>
    <img
      class="min-h-[22rem] w-[18rem] animate-[zoomin_0.5s_ease-in-out] rounded-3xl lg:min-h-[26.25rem] lg:w-[22rem]"
      [hidden]="!isShowImage()"
      src="./assets/images/my-image.jpg"
      alt="My Image"
      (load)="isMyImageLoading$.next(false)"
    />
    @if (!isShowImage()) {
      <p-skeleton
        styleClass="bg-gray-300 !w-[18rem] lg:!w-[22rem] !rounded-[1.5rem]  dark:bg-mirage animate-[fadeinright_0.2s_linear] min-h-[22rem] lg:min-h-[26.25rem]"
      ></p-skeleton>
    }
  </div>
  @if (layoutService.isMobile$ | async) {
    <app-footer></app-footer>
  }
</div>
