<div class="flex h-[100vh] flex-row overflow-hidden bg-white dark:bg-dark-knight">
  <div class="z-1 background-gradient absolute left-0 top-0 h-[37.5rem] w-full overflow-hidden">
    <div
      class="absolute left-[53.63rem] top-[-4.2rem] h-[9.4rem] w-[55.9rem] rounded-[55.9rem] bg-[rgba(224,170,28,0.43)] blur-[3.4rem]"
    ></div>
    <div
      class="absolute left-[39.4rem] top-[-5.6rem] h-[17.9rem] w-[51.4rem] rounded-[51.4rem] bg-[rgba(116,210,101,0.35)] blur-[6.3rem]"
    ></div>
    <div
      class="absolute left-[10.8rem] top-[-4.25rem] h-[12.2rem] w-[57.4rem] rounded-[57.4rem] bg-[rgba(63,100,233,0.43)] blur-[3.4rem]"
    ></div>
  </div>
  <div class="z-10">
    <app-sidebar />
  </div>
  <div class="z-10 flex h-full flex-1 flex-col justify-between">
    <app-header />
    <div
      class="content top-[var(--header-height)] h-[calc(100%-var(--header-height)*2)] w-full py-24 pl-[calc(11rem-var(--sidebar-width))] pr-44"
    >
      <router-outlet></router-outlet>
    </div>
    <app-footer />
  </div>
</div>
