<div
  class="z-[10] flex h-dvh flex-row overflow-hidden bg-alabaster/60 backdrop-blur-[0.125rem] transition duration-300 dark:bg-dark-knight"
>
  <div class="background-gradient absolute left-0 top-0 h-[37.5rem] w-full overflow-hidden">
    <div
      class="absolute left-36 top-9 z-[9] h-[5rem] w-[26rem] rounded-[55.9rem] bg-[rgba(224,170,28,0.43)] blur-[3.4rem] md:left-[53.63rem] md:top-[-4.2rem] md:h-[9.4rem] md:w-[55.9rem]"
    ></div>
    <div
      class="absolute -top-12 left-8 z-[9] h-[9.7rem] w-[23.9rem] rounded-[51.4rem] bg-[rgba(116,210,101,0.35)] blur-[6.3rem] md:left-[39.4rem] md:top-[-5.6rem] md:h-[17.9rem] md:w-[51.4rem]"
    ></div>
    <div
      class="absolute -left-44 -top-9 z-[9] h-[6.6rem] w-[26.7rem] rounded-[57.4rem] bg-[rgba(63,100,233,0.43)] blur-[3.4rem] md:left-[10.8rem] md:top-[-4.25rem] md:h-[12.2rem] md:w-[57.4rem]"
    ></div>
  </div>
  <div class="z-10">
    <app-sidebar />
  </div>
  <div
    [ngClass]="(layoutService.isMobile$ | async) ? 'w-full' : 'md:w-full lg:w-auto'"
    class="flex h-full flex-col lg:flex-1 lg:justify-between"
  >
    <app-header />
    <div
      overlay-scrollbars
      [options]="{
        overflow: { x: 'hidden' },
        scrollbars: { autoHide: 'leave', autoHideDelay: 100, theme: scrollbarTheme }
      }"
      [ngClass]="
        (layoutService.isMobile$ | async)
          ? 'h-[calc(100%-var(--header-height))] px-4 pt-14 md:px-28 md:pt-20'
          : 'h-[calc(100%-var(--header-height)*2)] px-32 py-20 lg:px-44 lg:py-28'
      "
      class="content z-[8] w-full translate-y-[var(--header-height)] lg:translate-y-0"
    >
      <div class="flex h-full flex-col justify-between">
        <div>
          <router-outlet></router-outlet>
        </div>
        @if (layoutService.isMobile$ | async) {
          <div
            class="-mx-4 mt-16 border-t border-[rgba(34,49,79,0.10)] pb-16 pt-10 md:-mx-28 dark:border-manganese-black"
          >
            <app-footer></app-footer>
          </div>
        }
      </div>
      <p-scrollTop target="parent" styleClass="fixed bg-manganese-black"></p-scrollTop>
    </div>

    @if ((layoutService.isMobile$ | async) === false) {
      <app-footer />
    }
  </div>
</div>
