<div
  class="z-[10] flex h-dvh flex-row overflow-hidden bg-alabaster/60 backdrop-blur-[0.125rem] transition duration-1000 dark:bg-dark-knight"
>
  <div class="background-gradient absolute left-0 top-0 h-[37.5rem] w-full overflow-hidden">
    <div
      class="absolute left-[53.63rem] top-[-4.2rem] z-[9] h-[9.4rem] w-[55.9rem] rounded-[55.9rem] bg-[rgba(224,170,28,0.43)] blur-[3.4rem]"
    ></div>
    <div
      class="absolute left-[39.4rem] top-[-5.6rem] z-[9] h-[17.9rem] w-[51.4rem] rounded-[51.4rem] bg-[rgba(116,210,101,0.35)] blur-[6.3rem]"
    ></div>
    <div
      class="absolute left-[10.8rem] top-[-4.25rem] z-[9] h-[12.2rem] w-[57.4rem] rounded-[57.4rem] bg-[rgba(63,100,233,0.43)] blur-[3.4rem]"
    ></div>
  </div>
  <div class="z-10">
    <app-sidebar />
  </div>
  <div
    [ngClass]="(layoutService.isMobile$ | async) ? 'w-full' : ''"
    class="flex h-full flex-col lg:flex-1 lg:justify-between"
  >
    <app-header />
    <div
      overlay-scrollbars
      [options]="{
        overflow: { x: 'hidden' },
        scrollbars: { autoHide: 'leave', autoHideDelay: 100, theme: scrollbarTheme }
      }"
      [ngClass]="
        (layoutService.isMobile$ | async)
          ? 'h-[calc(100%-var(--header-height))] px-4 pt-14 md:px-28 md:pt-20'
          : 'h-[calc(100%-var(--header-height)*2)] px-32 py-20 lg:px-44 lg:py-28'
      "
      class="content z-[8] w-full translate-y-[var(--header-height)] lg:translate-y-0"
    >
      <router-outlet></router-outlet>
      @if (layoutService.isMobile$ | async) {
        <div
          class="-mx-4 mt-16 border-t border-[rgba(34,49,79,0.10)] pb-16 pt-10 dark:border-manganese-black md:-mx-28"
        >
          <app-footer></app-footer>
        </div>
        <p-scrollTop target="parent" styleClass="bg-manganese-black bottom-20 left-[100%]"></p-scrollTop>
      }
    </div>

    @if ((layoutService.isMobile$ | async) === false) {
      <app-footer />
    }
  </div>
</div>
