<footer
  class="fixed bottom-0 z-10 flex h-[var(--header-height)] w-[calc(100%-var(--sidebar-width))] items-center justify-between border-y border-manganese-black bg-[rgba(24,24,29,0.30)] pl-8 text-2xl font-normal"
>
  <div class="flex h-full items-center gap-6">
    <p class="flex h-full items-center justify-center pr-6">find me at:</p>
    <div class="navigation flex h-full items-center">
      <a
        class="flex h-full items-center justify-center border-l border-manganese-black px-6 last:border-r"
        *ngFor="let socialApp of socialApps; index as i"
        [routerLink]="[socialApp.link]"
      >
        <!-- <svg-icon /> -->
        {{ socialApp.icon }}
      </a>
    </div>
  </div>
  <div class="flex h-full items-center justify-center border-l border-manganese-black">
    <button type="button" title="Toggle Dark Mode" class="px-6">
      <svg-icon
        [applyClass]="true"
        viewBox="auto"
        src="assets/icons/svg/Moon.svg"
        class="stroke-primary-600 h-6 w-6 stroke-1"
      >
      </svg-icon>
    </button>
    <span class="flex h-full items-center justify-center border-l border-manganese-black px-6">
      <p>© 2023 Tuan Tran. Design & Coded with ❤️️</p>
    </span>
  </div>
</footer>
