<footer
  class="fixed bottom-0 z-[7] flex h-[var(--header-height)] w-[calc(100%-var(--sidebar-width))] items-center justify-between border-none bg-alabaster/60 text-2xl font-normal backdrop-blur-[0.125rem] transition-colors duration-[1500] dark:bg-[rgba(24,24,29,0.30)]"
>
  <div class="flex h-full items-center gap-6 border-t border-[rgba(34,49,79,0.10)] pl-8 dark:border-manganese-black">
    <p class="flex h-full items-center justify-center pr-6">find me at:</p>
    <div class="navigation flex h-full items-center">
      <a
        class="flex h-full items-center justify-center border-l border-[rgba(34,49,79,0.10)] px-6 last:border-r dark:border-manganese-black"
        *ngFor="let socialApp of socialApps; index as i"
        [href]="[socialApp.link]"
        target="_blank"
      >
        <svg-icon
          [applyClass]="true"
          viewBox="auto"
          [src]="'assets/icons/svg/' + socialApp.icon + '.svg'"
          class="h-6 w-6 fill-lavender-mauve stroke-2 dark:fill-pastel-placebo"
        >
        </svg-icon>
      </a>
    </div>
  </div>
  <div class="h-full flex-1 border-t border-[rgba(34,49,79,0.10)] dark:border-manganese-black"></div>
  <div
    class="flex h-full items-center justify-center border-l border-t border-[rgba(34,49,79,0.10)] dark:border-manganese-black"
  >
    <app-darkmode-button></app-darkmode-button>
    <span
      class="flex h-full items-center justify-center border-l border-[rgba(34,49,79,0.10)] px-6 dark:border-manganese-black"
    >
      <p>© 2023 Tuan Tran. Design & Code with ❤️️</p>
    </span>
  </div>
</footer>
