/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'VT323';
    src: url('./assets/fonts/VT323-Regular.ttf');
    font-weight: 400;
  }

  html {
    @apply text-[100%];
  }

  body {
    @apply font-vt323 leading-none text-pastel-placebo;
    --sidebar-width: 3.75rem;
    --header-height: 3.75rem;
  }
}
