@import 'overlayscrollbars/styles/overlayscrollbars.min.css';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'VT323';
    src: url('./assets/fonts/VT323-Regular.ttf');
    font-weight: 400;
  }

  html {
    @apply text-[100%];
  }

  body {
    --sidebar-width: 3.75rem;
    --header-height: 3.75rem;
    --header-height__mobile: 3.75rem;
    @apply font-vt323 leading-none text-dark-knight dark:text-pastel-placebo;
    & .typing-header {
      @apply inline-flex min-h-[6.5rem] flex-nowrap text-[3.25rem] font-normal leading-none lg:min-h-[6.25rem] lg:text-[6.25rem] lg:leading-[7.5rem];
      & .typing-header__text {
        @apply text-green-haze type-skills dark:text-screen-glow;
      }
    }

    & .above-typing-header_text {
      @apply text-xl/6 font-normal lg:text-[1.625rem] lg:leading-7;
    }
  }
}

.p-component {
  @apply font-vt323;
}
