@import 'overlayscrollbars/styles/overlayscrollbars.min.css';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'VT323';
    src: url('./assets/fonts/VT323-Regular.ttf');
    font-weight: 400;
  }

  html {
    @apply text-[100%];
  }

  body {
    --sidebar-width: 3.75rem;
    --header-height: 3.75rem;
    @apply font-vt323 leading-none text-dark-knight dark:text-pastel-placebo;
  }
}

.p-component {
  @apply font-vt323;
}
