<div class="flex flex-col items-start gap-6 lg:gap-8 lg:pb-8">
  <div class="flex animate-[fadeinleft_0.5s_ease-in] flex-col items-start gap-7">
    <span>// Here are some of my selective projects so far</span>
    <div class="typing-header">
      <p>{{ '{“' }}&nbsp;</p>
      <p class="typing-header__text type-projects"></p>
      <p>&nbsp;{{ '“}' }}</p>
    </div>
  </div>
  <div class="flex w-full flex-col gap-8 lg:gap-12">
    @for (project of projects; track project.id) {
      <app-project [project]="project"></app-project>
    }
  </div>
</div>
